@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@plugin "@tailwindcss/typography";

@theme {
	--color-main-50: #dde7f4;
	--color-main-100: #ccd9eb;
	--color-main-200: #acbfd8;
	--color-main-300: #839dbe;
	--color-main-400: #576d89;
	--color-main-500: #466286;
	--color-main-600: #3a577d;
	--color-main-700: #2a466a;
	--color-main-800: #1e395c;
	--color-main-900: #0c1a2c;
	--color-main-950: #000000;
}

.font-gloock {
	font-family: "Gloock", serif;
	font-weight: 400;
	font-style: normal;
}

.font-display {
	font-family: "Outfit", sans-serif;
}