@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@plugin "@tailwindcss/typography";

@theme {
	--color-main-50: #EFF0F5;
	--color-main-100: #DFE0EC;
	--color-main-200: #C2C5DB;
	--color-main-300: #A3A6C7;
	--color-main-400: #868BB6;
	--color-main-500: #666CA3;
	--color-main-600: #505686;
	--color-main-700: #3B3F63;
	--color-main-800: #282B43;
	--color-main-900: #131420;
	--color-main-950: #0A0A10;
}



.font-gloock {
	font-family: "Gloock", serif;
	font-weight: 400;
	font-style: normal;
}

.font-display {
	font-family: "Outfit", sans-serif;
}